doctype html

html
     head
          meta(charset="utf-8")
          title Welcome
          link( rel="stylesheet" href="./css/style.css")
          meta(name="viewport" content="width=device-width, initial-scale=1")
     
     body
          div(class='menu_bar')
               ul
                    li
                         img(class='logo' src='./img/logo/logo_yellow.png')
                         a(href='#') contact
                         a(href='#') about
                         a(href='#') webdesign
                         a(href='#') graphic design
                         a(href='./pages/photo.html') photography

     
          div(class='homescreen')
               img(class='profile_photo' src='./img/misc/profile_foto.png')
               p(class='homescreen_name') Luca Classens
               p(class='homescreen_description') Designer &#9679; Photographer &#9679; Programmer
