doctype html

html
     head
          meta(charset="utf-8")
          title Welcome
          link( rel="stylesheet" href="../css/style.css")
          meta(name="viewport" content="width=device-width, initial-scale=1")
     
     body
          div(class='menu_bar')
               ul
                    li
                         img(class='logo' src='../img/logo/logo_yellow.png')
                         a(href='#') contact
                         a(href='#') about
                         a(href='#') webdesign
                         a(href='#') graphic design
                         a(href='../index.html') home
     
          div(class='Fotodiv')
               div(class='Floriade')               
                    div(class='photo_class')
                         img(class='photo' src='../img/photo_port/Aprilia_amphi_close.jpg')
                         div(class='photo_sub')
                              p Floriade Terrein in Venlo, Netherlands
                              
                    div(class='photo_class')
                         img(class='photo' src='../img/photo_port/Aprilia_amphi_far.jpg')
                         div(class='photo_sub')
                              p Floriade Terrein in Venlo, Netherlands       


               div(class='Grubbevorst')    
                    div(class='photo_class')          
                         img(class='photo' src='../img/photo_port/Aprilia_countryside_front.jpg')
                         div(class='photo_sub')
                              p Sint Jorisweg in Grubbenvorst, Netherlands         
                                        
                    div(class='photo_class')       
                         img(class='photo' src='../img/photo_port/Aprilia_countryside_front2.jpg')
                         div(class='photo_sub')
                              p Sint Jorisweg in Grubbenvorst, Netherlands    

                    div(class='photo_class')
                         img(class='photo' src='../img/photo_port/Aprilia_countryside_rear.jpg')
                         div(class='photo_sub')
                              p Floriade Terrein in Venlo, Netherlands
                    
                    div(class='photo_class')
                         img(class='photo' src='../img/photo_port/Aprilia_countryside_rear2.jpg')
                         div(class='photo_sub')
                              p Floriade Terrein in Venlo, Netherlands                  
                    
                    div(class='photo_class')       
                         img(class='photo' src='../img/photo_port/Aprilia_countryside_side.jpg')
                         div(class='photo_sub')
                              p Sint Jorisweg in Grubbenvorst, Netherlands    



               div(class='tradeport')
                    div(class='photo_class')       
                         img(class='photo' src='../img/photo_port/Aprilia_sunset_dark.jpg')
                         div(class='photo_sub')
                              p Trade Port in Venlo, Netherlands
               
               div(class='NewYork')    
                    div(class='photo_class')       
                         img(class='photo' src='../img/photo_port/Brooklyn.jpg')
                         div(class='photo_sub')
                              p Brooklyn Bridge in Brooklyn, USA
                              
                    div(class='photo_class')       
                         img(class='photo' src='../img/photo_port/NewYork_flatiron.jpg')
                         div(class='photo_sub')
                              p Flatiron Building in NYC, USA
                              
                    div(class='photo_class')       
                         img(class='photo' src='../img/photo_port/NewYork_skyline1.jpg')
                         div(class='photo_sub')
                              p Pier 62 in NYC, USA
                              
                    div(class='photo_class')       
                         img(class='photo' src='../img/photo_port/NewYork_skyline2.jpg')
                         div(class='photo_sub')
                              p Rockafeller Center in NYC, USA
                    div(class='photo_class')
                         img(class='photo' src='../img/photo_port/Oneworld.jpg')
                         div(class='photo_sub')
                              p One World Tradecenter in NYC, USA
                              
                              
               
               div(class='Niagara')
                    div(class='photo_class')       
                         img(class='photo' src='../img/photo_port/Niagara_falls1.jpg')
                         div(class='photo_sub')
                              p Niagara Falls in Niagara Falls, USA      
                                  
                    div(class='Niagara')
                         div(class='photo_class')       
                              img(class='photo' src='../img/photo_port/Niagara_falls2.jpg')
                              div(class='photo_sub')
                                   p Niagara Falls in Niagara Falls, USA      
